@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Press+Start+2P&family=Red+Hat+Mono:wght@300;400;500&family=Uchen&display=swap');

body {background-color: rgb(75, 170, 233)}

.container{
    background-color: transparent;
    width: 1500px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}


.card{
    width: 500px;
    height: 330px; 
    margin-left: 30%;
    background-color: rgba(255, 255, 255, 0.794);
    box-shadow: 0 4px 8px 0 rgba(65, 65, 65, 0.6);
}

.labels{
    font-size: 20px;
    font-weight: 700;
    font-family:'Uchen';
    margin-left: 85px;
    margin-right: auto;
}

h1.title{
    font-weight: 700px;
    font-family: 'Red Hat Mono';
    text-align: center;
}

